;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dev-http {8080 "public"}


 :dependencies
 [
  [cider/cider-nrepl "0.25.9"]
  [quil/quil "3.1.0"]
  [net.mikera/vectorz-clj "0.48.0"]
  ]

 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn core/init}}
   :compiler-options {:infer-externs true}
   :devtools {:ignore-warnings true}
   }}}
